
/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––

- Rounded user avatars
- Buttons
- Brand Styles

*/


/* Rounded avatars
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Disable this if you don't want rounded avatars for users */
.rounded-avatar {
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 0px 3px #ffffff; 
  box-shadow: 0px 0px 0px 3px var(--accent);
  background-color: #ffffff !important;
  width: 200px;
  height: 200px;
}

.social-icon {
  font-size: 32px;
  padding: 10px;
}
.social-icon-div {
  padding-bottom: 40px;
}
.social-icon{color:#fff;}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button {
  position: relative;
  background-color: var(--accent-veil);
  color: var(--accent);
  border: solid var(--accent) 2px;
  border-radius: 10px;
  font-size: 1rem;
  text-align: center;
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px!important;
  padding: 20px;
  text-decoration: none;
  transition: background-color var(--delay) ease, color var(--delay) ease, border-color var(--delay) ease, transform var(--delay) ease;
  -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) {
  .button:hover {
      background-color: var(--accent);
      color: var(--ground);
      border-color: var(--accent-bright);
      transform: translateY(-1px);
  }
}

.button:active {
  background-color: var(--accent);
  color: var(--ground);
}


/* Brand Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.icon {
  right: 10px;
  bottom: 2px;
  position: relative;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.button:hover > .icon {
  -webkit-box-shadow: 0px 0px 0px 4px var(--ground); 
  box-shadow: 0px 0px 0px 4px var(--ground);
  background-color: var(--ground) !important;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
}

svg {
  color: var(--accent) !important;
}